body {
  padding-top: 60px;
}
@media {max-width: 979px} {
  body {
    padding-top: 0px;
  }
}

.activity-stream ul {
  list-style-type: none;
}

.activity-stream li {
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 4px solid green;
}

.outlet {
  position: relative;
}

.outlet ul {
  list-style-type: none;
}

.outlet li {
  padding: 10px;
}

.text {
  margin-left: 40px;
}

.time {
  margin-left: 40px;
  font-size: x-small;
}

input {
  margin-top: 20px;
  margin-left: 40px;
  width: 400px;
}

.input-text {
  width: 40%;
  margin-left: 40px;
  height: 400px;
}

.left-button {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.left-button a {
  color: #fff;
}

.outlet a:hover {
  color: black;
}

h4 {
  margin-left: 40px;
}

.edit-textarea {
  width: 40%;
  margin-left: 40px;
  height: 400px;
}

.save-button {
  margin-left: 40px;
  margin-bottom: 20px;
}

.logout-button {
  margin-top: 8px;
  margin-right: 10px;
}