<h4>Create Blog</h4>
<form {{action 'createBlog' on="submit"}}>
{{input value=title placeholder="Title"}}<br/><br/>
{{textarea value=text placeholder="Text" class="input-text"}} <br/><br/>
<button type="submit" class="btn btn-primary left-button">Submit</button>
</form>